INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libs/
libtool
ltmain.sh
missing
.libs/
.deps/
*.lo
*.la
*.o
*~
stamp-h1
src/client/pcsctest
src/server/pcsc-proxy
obj/
pcsc-proxy-*.tar.gz
